/* テーマカラーを変更する */
$theme-colors: (
  // warning: #6495ed, /* デフォルトの黄色を darkslateblue に変更 */
  // my-darkslateblue: #6495ed, /* デフォルトにないカラーの追加 */
  // my-steelblue: #4682b4, /* デフォルトにないカラーの追加 */
  // my-royalblue: #4169e1, /* デフォルトにないカラーの追加 */
  // my-midnightblue: #191970 /* デフォルトにないカラーの追加 */
  a000000: #000000,
  a2-dimgray: #696969,
  a3-gray: #808080,
  a4-darkgray: #a9a9a9,
  a5-silver: #c0c0c0,
  a6-lightgray: #d3d3d3,
  a7-gainsboro: #dcdcdc,
  a8-whitesmoke: #f5f5f5,
  a9-white: #ffffff,
  a10-snow: #fffafa,
  a11-ghostwhite: #f8f8ff,
  a12-floralwhite: #fffaf0,
  a13-linen: #faf0e6,
  a14-antiquewhite: #faebd7,
  a15-papayawhip: #ffefd5,
  a16-blanchedalmond: #ffebcd,
  a17-bisque: #ffe4c4,
  a18-moccasin: #ffe4b5,
  a19-navajowhite: #ffdead,
  a20-peachpuff: #ffdab9,
  a21-mistyrose: #ffe4e1,
  a22-lavenderblush: #fff0f5,
  a23-seashell: #fff5ee,
  a24-oldlace: #fdf5e6,
  a25-ivory: #fffff0,
  a26-honeydew: #f0fff0,
  a27-mintcream: #f5fffa,
  a28-azure: #f0ffff,
  a29-aliceblue: #f0f8ff,
  a30-lavender: #e6e6fa,
  a31-lightsteelblue: #b0c4de,
  a32-lightslategray: #778899,
  a33-slategray: #708090,
  a34-steelblue: #4682b4,
  a35-royalblue: #4169e1,
  a36-midnightblue: #191970,
  a37-navy: #000080,
  a38-darkblue: #00008b,
  a39-mediumblue: #0000cd,
  a40-blue: #0000ff,
  a41-dodgerblue: #1e90ff,
  a42-cornflowerblue: #6495ed,
  a43-deepskyblue: #00bfff,
  a44-lightskyblue: #87cefa,
  a45-skyblue: #87ceeb,
  a46-lightblue: #add8e6,
  a47-powderblue: #b0e0e6,
  a48-paleturquoise: #afeeee,
  a49-lightcyan: #e0ffff,
  a50-cyan: #00ffff,
  a51-aqua: #00ffff,
  a52-turquoise: #40e0d0,
  a53-mediumturquoise: #48d1cc,
  a54-darkturquoise: #00ced1,
  a55-lightseagreen: #20b2aa,
  a56-cadetblue: #5f9ea0,
  a57-darkcyan: #008b8b,
  a58-teal: #008080,
  a59-darkslategray: #2f4f4f,
  a60-darkgreen: #006400,
  a61-green: #008000,
  a62-forestgreen: #228b22,
  a63-seagreen: #2e8b57,
  a64-mediumseagreen: #3cb371,
  a65-mediumaquamarine: #66cdaa,
  a66-darkseagreen: #8fbc8f,
  a67-aquamarine: #7fffd4,
  a68-palegreen: #98fb98,
  a69-lightgreen: #90ee90,
  a70-springgreen: #00ff7f,
  a71-mediumspringgreen: #00fa9a,
  a72-lawngreen: #7cfc00,
  a73-chartreuse: #7fff00,
  a74-greenyellow: #adff2f,
  a75-lime: #00ff00,
  a76-limegreen: #32cd32,
  a77-yellowgreen: #9acd32,
  a78-darkolivegreen: #556b2f,
  a79-olivedrab: #6b8e23,
  a80-olive: #808000,
  a81-darkkhaki: #bdb76b,
  a82-palegoldenrod: #eee8aa,
  a83-cornsilk: #fff8dc,
  a84-beige: #f5f5dc,
  a85-lightyellow: #ffffe0,
  a86-lightgoldenrodyellow: #fafad2,
  a87-lemonchiffon: #fffacd,
  a88-wheat: #f5deb3,
  a89-burlywood: #deb887,
  a90-tan: #d2b48c,
  a91-khaki: #f0e68c,
  a92-yellow: #ffff00,
  a93-gold: #ffd700,
  a94-orange: #ffa500,
  a95-sandybrown: #f4a460,
  a96-darkorange: #ff8c00,
  a97-goldenrod: #daa520,
  a98-peru: #cd853f,
  a99-darkgoldenrod: #b8860b,
  a100-chocolate: #d2691e,
  a101-sienna: #a0522d,
  a102-saddlebrown: #8b4513,
  a103-maroon: #800000,
  a104-darkred: #8b0000,
  a105-brown: #a52a2a,
  a106-firebrick: #b22222,
  a107-indianred: #cd5c5c,
  a108-rosybrown: #bc8f8f,
  a109-darksalmon: #e9967a,
  a110-lightcoral: #f08080,
  a111-salmon: #fa8072,
  a112-lightsalmon: #ffa07a,
  a113-coral: #ff7f50,
  a114-tomato: #ff6347,
  a115-orangered: #ff4500,
  a116-red: #ff0000,
  a117-crimson: #dc143c,
  a118-mediumvioletred: #c71585,
  a119-deeppink: #ff1493,
  a120-hotpink: #ff69b4,
  a121-palevioletred: #db7093,
  a122-pink: #ffc0cb,
  a123-lightpink: #ffb6c1,
  a124-thistle: #d8bfd8,
  a125-magenta: #ff00ff,
  a126-fuchsia: #ff00ff,
  a127-violet: #ee82ee,
  a128-plum: #dda0dd,
  a129-orchid: #da70d6,
  a130-mediumorchid: #ba55d3,
  a131-darkorchid: #9932cc,
  a132-darkviolet: #9400d3,
  a133-darkmagenta: #8b008b,
  a134-purple: #800080,
  a135-indigo: #4b0082,
  a136-darkslateblue: #483d8b,
  a137-blueviolet: #8a2be2,
  a138-mediumpurple: #9370db,
  a139-slateblue: #6a5acd,
  a140-mediumslateblue: #7b68ee
);

/* 変数の最後にbootstrapをインポート */
@import "../node_modules/bootstrap/scss/bootstrap";
